<div class="text-center">
    <h1>User Login</h1>
    <p ng-show="error" style="color:#ff3f1d;font-weight:bold;">{{ errorMessage }}</p>
    <form ng-submit="loginUser()">
        <div class="form-group">
            <input type="email" class="form-control input-lm" name="email" ng-model="userData.email" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control input-sm" name="password" ng-model="userData.password" placeholder="Password">
        </div>
        <div class="form-group text-right">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </div>
    </form>
    <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>
</div>